.board {
    display: flex;
    gap: 20px;
    padding: 20px 0;
    height: 100%;
  }
  h1{
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    color: rgb(42, 42, 82);
  }
  button{
    cursor: pointer;
  }
  .container{
    padding: 20px 40px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .add-list-btn{
    background-color: rgb(12, 92, 12);
    color: white;
    font-size: 14px;
    font-size: 500;
    padding: 10px 20px;
    border-radius: 8px;
  }
  .btn-wrapper{
    display: flex;
    justify-content: flex-end;
  }